* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .nav-wrap {
        position: fixed;
        top: 0;
        right: -200%;
        z-index: 9999;
        min-width: 100vw;
        min-height: 100vh;
        transition: all .3s ease-in-out;
        backdrop-filter: blur(2px);
    }

    nav {
        margin-left: auto;
        min-height: 100vh;
        max-width: 20rem;
        background-color: white;
        flex-direction: column;
        box-shadow: 0 0 8px 4px rgba(0, 0, 0, .3);
    }

    .nav-toggler.open:focus~.nav-wrap {
        right: 0;
    }
    
    .m640px\:justify-center {
        justify-content: center;
    } 
    .m640px\:items-center {
        align-items: center;
    }

    .close {
        position: fixed;
        top: 2rem;
        left: -4rem;
        
        transition: all .3s ease-in-out;
        z-index: 99999999999;
    }
    .nav-toggler:focus~.close {
        left: 2rem;
        transition: all .4s .5s ease-in-out;
    }
    .nav-wrap:focus-within {
        transform: translateX(0);
    }
    

}

.rectangle-size {
    width: 8%;
    margin-left: 80px;
    margin-bottom: 22px;
}

.text-1 {
    padding: 15px 0px 15px 100px;
    margin-top: -110px;
}

.text-2 {
    padding: 0px 100px 20px 0px;
    text-align: right;
    margin-top: -17px;
}

.rectangle-size-2 {
    width: 15%;
    float: right;
}

h2 {
    font-weight: 400;
    font-size: 33px;
    font-family: 'PT Sans Narrow';
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-around;
    column-gap: 10px;
}

.img-all {
    width: 55%;
    height: 80%;
    background-color: rgba(216, 243, 234, 1);
    aspect-ratio: 16/9;
    border: transparent;
    border-radius: 50%;
    padding: 10px;
}

.img-all:hover {
    background-color: #3df74c;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.row-gap-15px {
    row-gap: 10px;
}

h3 {
    font-weight: 400;
    font-size: 26px;
    font-family: 'PT Sans Narrow';
}

p {
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    font-family: 'PT Sans Narrow';
    color: #393939;
}

.mg-left-minus {
    margin-left: -180px;
}

.container {
    display: grid;
    justify-content: center;
    column-gap: 80px;
    grid-template-columns: auto auto;
}

h1 {
    font-weight: 400;
    font-size: 33px;
    font-family: 'PT Sans Narrow';
    margin-bottom: 5px;

}

ul {

    margin-left: 25px;
    margin-bottom: 5px;
}

li {
    list-style-type: circle;
}

li {
    font-family: 'PT Sans Narrow';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #393939;
}

.img-block {
    width: 100%;
    height: 100%;
    width: 400px;
    height: 300px;
}

.flex {
    display: flex;
}

.color-h1 {
    color: rgba(59, 179, 114, 1);
}

.btn1 {
    background: #3BB372;
    border: transparent;
    border-radius: 5px;
    clip-path: polygon(0 0, 73% 0, 100% 100%, 0% 100%);
    padding-right: 10px;
    margin-right: -10px;
    border-end-end-radius: 10px;
}

.btn2 {
    border: 2px solid #398495;
    background-color: white;
    border-radius: 5px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 26% 100%);
    padding-left: 10px;
    margin-right: -10px;
    border-end-start-radius: 10px;
}

.text-font-white {
    color: white;
    font-family: 'Mplus 1p';
    font-weight: 400;
    font-size: 16px;
    padding: 6px 12px;
}

.text-font-black {
    font-family: 'Mplus 1p';
    font-weight: 400;
    font-size: 16px;
    padding: 6px 12px;
}

.flex {
    display: flex;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.relative {
    position: relative;
}

@media screen and (max-width: 1440px) {
    header {
        max-width: 1024px;
    }
}


nav {
    justify-content: space-between;
    flex-grow: .2;
    gap: 1.5rem;
}

.nav-toggler {
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    padding: 1rem;
    margin-right: -1rem;
}

nav {
    outline: none;
}


main {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.div5 {
    justify-content: space-around;
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: black;
    font-family: Evelynn;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.btn {
    background-color: transparent;
    border: none;
}

.btn1 {
    font-family: Camille;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.text1 {
    color: #398495;
    font-family: Evelynn;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
}

.text3 {
    font-family: monospace;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
}

.bibta {
    gap: 15px;
}

.content-btw {
    justify-content: space-between;
}

p {
    font-family: Camille;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
}

.direction-column {
    flex-direction: column;
}

.content-center {
    justify-content: center;
    flex-grow: .5;
}

.buttons {
    flex-grow: .15;
    justify-content: space-between;
}

.links1 {
    justify-content: space-between;
    gap: 10px;
}

.fotki {
    display: flex;
}

.absolute {
    position: absolute;
}

.rec1 {
    top: 0px;
    left: 0px;
    z-index: -1;
}

.rec8 {
    z-index: -1;
    top: 0;
    left: 63%;
    transform: translate(-50%);
}

.rec9 {
    z-index: -1;
    top: 40px;
    right: 2%;
    transform: translate(2%);
}

.rec2 {
    z-index: -1;
    left: 55%;
    transform: translate(-50%);
}

.rec7 {
    z-index: -1;
    top: 434px;
    left: 23%;
    transform: translate(-50%);
}

.rec11 {
    z-index: -1;
    top: 670px;
    right: 25%;
    transform: translate(50%);
}

.btn1 {
    background-color: #3BB372;
    clip-path: polygon(0 1%, 72% 0, 100% 100%, 0% 100%);

    color: white;
    margin: -10px -40px -10px -10px;
    padding: 10px 40px 10px 10px;
    border-radius: 5px;
    font-family: Evelynn;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 6px;
}

.btn2 {
    color: #1F1F1F;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 37% 100%);
    margin: -10px -10px -10px -40px;
    padding: 10px 10px 10px 40px;
    border-radius: 5px;
    border: 3px solid;
    font-family: Evelynn;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 6px;
}

.btn6 {
    color: white;
    clip-path: polygon(32% 0, 100% 0, 100% 100%, 0 100%);
    background-color: #3BB372;
    border-radius: 5px;
    margin: -10px -10px -10px -30px;
    padding: 10px 10px 10px 30px;
    font-family: Evelynn;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 6px;
}


@font-face {
    font-family: Evelynn;
    src: url(../fonts/nawwor/PTSansNarrow-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Evelynn;
    src: url(../fonts/nawwor/PTSansNarrow-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Camille;
    src: url(../fonts/suplhut/SulphurPoint-Bold.ttf);
}


.small-flex-1-b2 {
    display: flex;
    align-items: center;
}

.small-p-1-b2 {
    font-family: "PT Sans Narrow";
    font-size: 30px;
    background-image: url("../images/Rectangle\ 14.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    padding: 20px;
    margin-left: 180px;
}

.small-img-1-b2 {
    width: 50%;
}

.flex-container-1-b2 {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.container-1-b2 {
    display: flex;
    gap: 20px;
    flex-basis: 33.333333334%;
}

.img-emoji1-b2 {
    width: 100%;
}

.div-emoji1-b2 {
    width: 40%;
}

.text-head-b2 {
    font-family: "PT Sans Narrow";
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
}

.text-part-b2 {
    font-family: "PT Sans Narrow";
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    color: rgba(57, 57, 57, 1);
}

.text-column-b2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.small-img-2-b2 {
    width: 60%;
}

.small-flex-2-b2 {
    display: flex;
    align-items: center;
    justify-content: end;
}

.small-p-2-b2 {
    font-family: "PT Sans Narrow";
    font-size: 30px;
    background-image: url("../images/Rectangle\ 15.png");
    background-repeat: no-repeat;
    background-size: 80%;
    padding: 30px 30px 20px 30px;
}

.flex-container-2-b2 {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 100px;
}

.img-rectangle-b2 {
    width: 100%;
}

.div-rectangle-b2 {
    width: 30%;
}

.flex-column-b2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.text-near-b2 {
    font-family: "PT Sans Narrow";
    font-size: 30px;
    font-weight: 400;
}

.ul-b2 li {
    list-style-type: circle;
    font-family: "PT Sans Narrow";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(57, 57, 57, 1);
}

.ul-b2 li::marker {
    color: green;
}

.btn-style-1-b2 {
    padding: 8px;
    background: rgba(59, 179, 114, 1);
    color: white;
    border-radius: 5px;
    border: transparent;
    clip-path: polygon(0 0, 73% 0, 90% 100%, 0% 100%);
    padding-right: 40px;
    border-end-end-radius: 5px;
    border-start-end-radius: 5px;
}

.btn-style-2-b2 {
    position: relative;
    z-index: 1;
}

.btn-style-2-b2::before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    transform: skew(39deg);
    border: 2px solid #398495;
    top: -2px;
    left: -24px;
    border-right: none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-style-1-b2:hover {
    background: rgb(16, 231, 117);
}

.btn-style-2-b2 {
    padding: 7px;
    background: white;
    color: black;
    border-radius: 5px;
    border: 2px solid #398495;
    border-left: none;
    border-end-start-radius: 5px;
    border-start-start-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-style-2-b2 {
    position: relative;
    z-index: 1;
}

.btn-size-b2 {
    margin-left: -20px;
    padding-right: 20px;
}

.text-size-b2 {
    margin-left: -20px;
    padding-right: 20px;
}


@media screen and (max-width: 600px) {
    .flex-container-1-b2 {
        display: flex;
        flex-direction: column;
    }

    .flex-container-2-b2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .flex-column-b2 {
        margin-left: auto;
        margin-right: auto;
    }

    .div-rectangle-b2 {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
    }
}