* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.pt-64px {
    padding-top: 64px;
}
.py-1rem {
    padding-left: 1rem;
    padding-right: 1rem;
}
.gap-1rem{
    gap: 1rem;
}
.py-64px {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.max-w-1440 {
    max-width: 1440px;
}
.wrap {
    flex-wrap: wrap;
}
.mt-128px {
    margin-top: -8rem;
}
.top-left {
 position: absolute;
 left: 0;
 top: 0;   
 z-index: -1;
}
.top-right {
    position: absolute;
    left: 1100px;
    top: 8px;
}
.left {
    position: absolute;
    left: 9.28px;
    top: 420px;
    z-index: -1;
}
.top {
    position: absolute;
    z-index: -1;
    left: 450px;
    top: 0px;
}
.flex {
    display: flex;
}
.max-h-254 {
    max-height: 254px;
}
.flex-col {
    flex-direction: column;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.content-center {
    align-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.gap-75 {
    gap: 75px;
}
.gap-10 {
    gap: 10px;
}
.text-none {
    text-decoration: none;
    color: black;
}
.line {
    display: block;
    max-width: 59px;
    width: 100%;
    height: 1px;
    display: block;
    background-image: linear-gradient(90deg, transparent, #398495);
}
.btn {
    border: 1px solid #3BB372;
    padding: 10px 24px 10px 24px;
    border-radius: 5px;
    background: #3BB372;
    color: white;
    font-size: 18px;
    box-shadow: 0px 10px 18px #3BB372;
}
.tam {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    color: #398495;
}
h1 {
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0em;
    color: #1F1F1F;
}
span {
    color: #3BB372;
}
.p1 {
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    color: #393939;
}
.about {
    max-width: 560px;
    margin-bottom: 48px;
}
ul {
    list-style-type: none;
}
li::before {
    content: "\25E6";
    color: #398495;
    display: inline-block; 
    width: 1em;
    margin-left: -1em}
header {
    margin-left: auto;
    margin-right: auto;
}
section {
    margin-left: auto;
    margin-right: auto;
}
.gap-29px {
    gap: 29px;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.max-w-650 {
    max-width: 650px;
}
.gap-20 {
    gap: 20px;
}
.imgs {
    overflow-x: auto;
}
.verst {
    font-size: 32px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
}
.diz {
    padding-bottom: 26px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
}
.pb-38 {
    padding-bottom: 38px;
}
.verst , .diz {
    color: white;
}
.rebr {
    font-size: 42px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    color: #398495;
}
ul li {
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    color: #393939;
}
.btn5 {
    border: 2px solid white;
    padding: 10px 24px 10px 24px;
    border-radius: 5px;
    background: white;
    color: #398495;
    font-size: 18px;
    box-shadow: 0px 10px 18px white;
}
.pt-18 {
    padding-top: 18px;
}
.div1 {
    padding: 18px 46px 18px 46px;
    justify-content: flex-start;
    background: #398495;
    border-radius: 25px;
}
.mt-25 {
    margin-top: 25px;
}
.div2 {
    padding: 18px 46px 18px 46px;
    border-radius: 25px;
    background: #3BB372;
}
.ilya {
    font-size: 42px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
}
.ux {
    font-size: 28px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    color: #398495;
}
.team {
    font-size: 48px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    color: #1F1F1F;
}
.obil {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    color: #393939;
}
.strelki {
    background: transparent;
    border: none;
    max-height: 72px;
}
.max-w-371 {
    max-width: 371px;
}
.btn4 {
    border: 2px solid #3BB372;
    padding: 10px 24px 10px 24px;
    border-radius: 5px;
    background: white;
    color: black;
    font-size: 18px;
}
.btn3 {
    border: 2px solid #398495;
    padding: 10px 24px 10px 24px;
    border-radius: 5px;
    background: #398495;
    color: white;
    font-size: 18px;
    box-shadow: 0px 10px 18px #398495;
}
.btn1 {
    border: 2px solid #3BB372;
    padding: 10px 24px 10px 24px;
    border-radius: 5px;
    background: #3BB372;
    color: white;
    font-size: 18px;
    box-shadow: 0px 10px 18px #3BB372;
}
.btn2 {
    border: 2px solid #398495;
    padding: 10px 24px 10px 24px;
    border-radius: 5px;
    background: white;
    color: black;
    font-size: 18px;
}