* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.small-flex-1-b2 {
  display: flex;
  align-items: center;
}
.small-p-1-b2 {
  font-family: "PT Sans Narrow";
  font-size: 30px;
  background-image: url("images/Rectangle\ 14.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
  padding: 20px;
  margin-left: 180px;
}
.small-img-1-b2 {
  width: 50%;
}
.flex-container-1-b2 {
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}
.container-1-b2 {
  display: flex;
  gap: 20px;
  flex-basis: 33.333333334%;
}
.img-emoji1-b2 {
  width: 100%;
}
.div-emoji1-b2 {
  width: 40%;
}
.text-head-b2 {
  font-family: "PT Sans Narrow";
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
}
.text-part-b2 {
  font-family: "PT Sans Narrow";
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  color: rgba(57, 57, 57, 1);
}
.text-column-b2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}
.small-img-2-b2 {
  width: 60%;
}
.small-flex-2-b2 {
  display: flex;
  align-items: center;
  justify-content: end;
}
.small-p-2-b2 {
  font-family: "PT Sans Narrow";
  font-size: 30px;
  background-image: url("images/Rectangle\ 15.png");
  background-repeat: no-repeat;
  background-size: 80%;
  padding: 30px 30px 20px 30px;
}
.flex-container-2-b2 {
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 100px;
}
.img-rectangle-b2 {
  width: 100%;
}
.div-rectangle-b2 {
  width: 30%;
}
.flex-column-b2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.text-near-b2 {
  font-family: "PT Sans Narrow";
  font-size: 30px;
  font-weight: 400;
}
.ul-b2 li {
  list-style-type: circle;
  font-family: "PT Sans Narrow";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(57, 57, 57, 1);
}
.ul-b2 li::marker {
  color: green;
}
.btn-style-1-b2 {
  padding: 8px;
  background: rgba(59, 179, 114, 1);
  color: white;
  border-radius: 5px;
  border: transparent;
  clip-path: polygon(0 0, 73% 0, 90% 100%, 0% 100%);
  padding-right: 40px;
  border-end-end-radius: 5px;
  border-start-end-radius: 5px;
}
.btn-style-2-b2 {
  position: relative;
  z-index: 1;
}
.btn-style-2-b2::before {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform: skew(39deg);
  border: 2px solid #398495;
  top: -2px;
  left: -24px;
  border-right: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-style-1-b2:hover {
  background: rgb(16, 231, 117);
}
.btn-style-2-b2 {
  padding: 7px;
  background: white;
  color: black;
  border-radius: 5px;
  border: 2px solid #398495;
  border-left: none;
  border-end-start-radius: 5px;
  border-start-start-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-style-2-b2 {
  position: relative;
  z-index: 1;
}
.btn-size-b2 {
  margin-left: -20px;
  padding-right: 20px;
}
.text-size-b2 {
  margin-left: -20px;
  padding-right: 20px;
}


@media screen and (max-width: 600px) {
  .flex-container-1-b2 {
    display: flex;
    flex-direction: column;
  }
  .flex-container-2-b2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .flex-column-b2 {
    margin-left: auto;
    margin-right: auto;
  }
  .div-rectangle-b2 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
  }
}